<div class="w-full text-center mb-4">
  <h1 class="text-2xl font-bold mb-4">Game of Life</h1>
</div>

<div class="w-full text-center mb-4">
    <% if !user_signed_in? %>
        <p class="text-gray-600 mb-4 italic">Per poter giocare, devi prima effettuare il login.</p>
        <%= render "devise/sessions/form", resource: User.new, resource_name: :user, devise_mapping: Devise.mappings[:user] %>
    <% else %>
        <h2 class="text-xl mb-4">Benvenuto, <%= current_user.email %>! è il momento di giocare!</h2>
        
        <!-- Form per il caricamento del file -->
        <div class="max-w-md mx-auto mt-6">
          <%= form_with url: start_game_path, multipart: true, local: true, class: "space-y-4" do |form| %>
            <div>
              <%= form.label :file, "Carica file di configurazione (.txt):", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
              <%= form.file_field :file, accept: ".txt", required: true, class: "block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" %>
              <p class="text-xs text-gray-500 mt-1">Solo file .txt, max 1MB</p>
            </div>
            
            <div>
                <%= form.submit "Inizia Gioco", class: "w-full bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded-md transition duration-200 ease-in-out focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-offset-2" %>
            </div>


          <% end %>
        </div>
        
        <p class="text-gray-600 mt-4">
            Se invece vuoi eseguire il logout
             <%= button_to "clicca qui", destroy_user_session_path, method: :delete, class: 'italic inline-block font-bold px-2 rounded-md transition duration-200 ease-in-out focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-2 underline hover:no-underline' %>
          
        </p>
    <% end %>
</div>
